.__about {
    margin: 0 auto;
    padding: 15px;
    width: 90%;

    .ui {
        .row {
            .data {
                padding: 30px !important;

                h3 {
                    color: $primary;
                    font-size: 28px;
                    font-weight: bold;
                    margin-bottom: 25px;
                }
            }
        }
    }
}