.__categories {
    margin: 0 auto;
    padding: 15px;
    width: 90%;

    &_title {
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;

        h3 {
            color: #7d8790;
            border-color: #e1e1e1;
            border-bottom: 2px solid $primary;
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }

    &_body {
        width: 100% !important;
    }

    .container-item {
        margin-bottom: 25px !important;
        width: 100% !important;
        img{
            min-height: 45vh !important;
            max-height: 45vh !important;
        }
    }

    
}