.__footer {
    background-color: $background-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 80px;
    &_body {
        color: $font-light;
    }
}