.__search {

 .__basic_container {

    .data-not-found{
        font-size: 20px;
        text-align: center;
        padding: 20px 0; 
    }
    
    .__products_container {
        padding: 20px;
    }

 }
}